@using DentalManagementSystem.Models
@model List<Service>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th> Name </th>
            <th> Unit </th>
            <th> MarketPrice </th>
            <th> Price </th>
        </tr>
    </thead>
    <tbody>
        <form asp-action="Index">
        <tr>
            <th>
                <input type="text" name="Id" />
            </th>
            <th>
                <input type="text" name="Name" />
            </th>
            <th>
                <input type="number" name="Unit" />
            </th>
            <th>
                <input type="number" name="MarketPrice" />
            </th>
            <th>
                <input type="number" name="Price" />
            </th>
        </tr>
        </form>
        @foreach (var item in Model)
        {
        <td>@Html.DisplayFor(modelItem => item.Id)</td>
        <td>@Html.DisplayFor(modelItem => item.Name)</td>
        <td>@Html.DisplayFor(modelItem => item.Unit)</td>
        <td>@Html.DisplayFor(modelItem => item.MarketPrice)</td>
        <td>@Html.DisplayFor(modelItem => item.Price)</td>
        <td>
            <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
            <form asp-action="Delete" method="post" asp-route-id="@item.Id">
                <input type="hidden" value="@item.Id" />
                <input type="submit" value="Delete" />
            </form>
        </td>

        }
    </tbody>
</table>
