@using DentalManagementSystem.Models
@model List<NewView>


@{
    ViewData["Title"] = "Index";
}

<h1>Employee</h1>

<p>
    <a asp-action="Create">Create New Employee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th> Fullname </th>
            <th> Birthday </th>
            <th> Phone </th>
            <th> Salary </th>
            <th> Email </th>
            <th> Role </th>
        </tr>
    </thead>
    <tbody>
        <form asp-action="Search" method="post">
        <tr>
            <th>
                <input type="text" name="Username" />
            </th>
            <th>
                <input type="text" name="Fullname" />
            </th>
            <th>
                <input type="date" name="Birthday" />
            </th>
            <th>
                <input type="number" name="Phone" />
            </th>
            <th>
                <input type="number" name="Salary" />
            </th>
            <th>
                <input type="email" name="Email" />
            </th>
            <th>
                <input type="text" name="Role" />
            </th>
            <th>
                <input type="submit" value="Search" />
            </th>

            <th>
                <input type="submit" name="Reset" value="Reset" />
            </th>
        </tr>

        </form>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Username)</td>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.Birthday)</td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td>@Html.DisplayFor(modelItem => item.Salary)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <form asp-action="Delete" method="post" asp-route-id="@item.Id">
                        <input type="hidden" value="@item.Id" />
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>