@using DentalManagementSystem.Models
@model List<MaterialImport>
@{
    ViewData["Title"] = "Index";
 }
<br>

<h2>Material Import List</h2>

<a class="btn btn-primary btn-sm" href="/ImportMaterial/Create">Import new Item</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Material ID</th>
            <th>Date</th>
            <th>Suply Name</th>
            <th>Amount</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        <form asp-action="Index">
        <tr>
            <th>
                <input type="text" name="Id" maxlength="250" />
            </th>
            <th>
                <input type="text" name="MaterialId" />
            </th>
            <th>
                <input type="date" name="Date" />
            </th>
            <th>
                <input type="number" name="Amount" />
            </th>
            <th>
                <input type="text" name="SuplyName" />
            </th>
            <th>
                <input type="numer" name="TotalPrice" />
            </th>
            <th>
                <input type="submit" value="search" />
            </th>
        </tr>
        </form>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.MaterialId</td>
                <td>@item.Date</td>
                <td>@item.SupplyName</td>
                <td>@item.Amount</td>
                <td>@item.TotalPrice</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <form asp-action="Delete" method="post" asp-route-id="@item.Id">
                        <input type="hidden" value="@item.Id" />
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        }
    </tbody>      
</table>